.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.fixed {
    height: 100%;
    width:425px;
    background-color: #f9f6f8;
    border:1px tomato solid;
}

.right{
    height: 100rem;
    width: 70%;
    background-color: #c5e4fb;
    border:1px solid;
}

.right_main{
    background-color: #128add;
}